@model Konmaripo.Web.Controllers.MassIssueViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Mass Issue Creation</h1>
    <p>Create an issue that will be posted in all of your organization's repositories.</p>
</div>

<div>
    <h1 class="display-4">Issue Contents</h1>
    @using (Html.BeginForm("CreateMassIssue", "MassIssues", FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(x => x.MassIssue.Subject)
            @Html.TextBoxFor(x => x.MassIssue.Subject, htmlAttributes:new {@class = "form-control"})
        </div>

         
        <div>@Html.LabelFor(x => x.MassIssue.Body)
            @Html.TextAreaFor(x => x.MassIssue.Subject, htmlAttributes: new { @class = "form-control" })
        </div>
        
        <div>
            @Html.CheckBoxFor(x => x.MassIssue.ShouldBePinned, htmlAttributes: new { @class = "form-check-input" })
            @Html.LabelFor(x => x.MassIssue.ShouldBePinned, htmlAttributes: new { @class = "form-check-label" })
        </div>
    }
</div>

<div>
    <h1 class="display-4">Double-check: Distribution</h1>
    <p>This will be sent to @Model.NonArchivedRepos repositories</p>
    <p>We have @Model.RemainingAPIRequests API requests remaining before it resets.</p>
</div>
