@using Humanizer
@model List<GitHubRepo>
@{
    var alreadyArchivedRepos = Model.Where(x => x.IsArchived).ToList();
    var nonArchivedRepos = Model.Where(x => !x.IsArchived).OrderBy(x=>x.UpdatedDate).ToList();

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Repository Overview</h1>
    <p>Check out the repositories below to see if they could use some sunsetting.</p>
</div>

<div class="text-center">
    <h2 class="display-4">Active</h2>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Stars</th>
            <th scope="col">Forks</th>
            <th scope="col">Issues</th>
            <th scope="col" title="Date the repository was created">Created</th>
            <th scope="col" title="Date the repository was updated, e.g. title, language, settings, properties">Updated</th>
            <th scope="col">Private?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in nonArchivedRepos)
        {
            <tr>
                <th scope="row">@item.Name</th>
                <td>@item.StarCount</td>
                <td>@item.ForkCount</td>
                <td>@item.OpenIssueCount</td>
                <td title="@item.CreatedDate">@item.CreatedDate.Humanize()</td>
                <td title="@item.UpdatedDate">@item.UpdatedDate.Humanize()</td>
                <td>@item.IsPrivate</td>
            </tr>
        }
    </tbody>

</table>


<div class="text-center">
    <h2 class="display-4">Archived</h2>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Stars</th>
            <th scope="col">Forks</th>
            <th scope="col">Issues</th>
            <th scope="col" title="Date the repository was created">Created</th>
            <th scope="col" title="Date the repository was updated, e.g. title, language, settings, properties">Updated</th>
            <th scope="col">Private?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in alreadyArchivedRepos)
        {
            <tr>
                <th scope="row">@item.Name</th>
                <td>@item.StarCount</td>
                <td>@item.ForkCount</td>
                <td>@item.OpenIssueCount</td>
                <td title="@item.CreatedDate">@item.CreatedDate.Humanize()</td>
                <td title="@item.UpdatedDate">@item.UpdatedDate.Humanize()</td>
                <td>@item.IsPrivate</td>
            </tr>
        }
    </tbody>

</table>
