@using Humanizer
@model List<GitHubRepo>
@{
    var alreadyArchivedRepos = Model.Where(x => x.IsArchived).ToList();
    var nonArchivedRepos = Model.Where(x => !x.IsArchived).ToList();

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Repository Overview</h1>
    <p>Check out the repositories below to see if they could use some sunsetting.</p>
</div>

<div class="text-center">
    <h2 class="display-4">Active</h2>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Forks</th>
            <th>Issues</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Private?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in nonArchivedRepos)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.StarCount</td>
                <td>@item.ForkCount</td>
                <td>@item.OpenIssueCount</td>
                <td>@item.CreatedDate.Humanize()</td>
                <td>@item.UpdatedDate.Humanize()</td>
                <td>@item.IsPrivate</td>
            </tr>
        }
    </tbody>

</table>


<div class="text-center">
    <h2 class="display-4">Archived</h2>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Forks</th>
            <th>Issues</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Private?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in alreadyArchivedRepos)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.StarCount</td>
                <td>@item.ForkCount</td>
                <td>@item.OpenIssueCount</td>
                <td>@item.CreatedDate.Humanize()</td>
                <td>@item.UpdatedDate.Humanize()</td>
                <td>@item.IsPrivate</td>
            </tr>
        }
    </tbody>

</table>
